<!DOCTYPE html>
<html>
<head>
<title>MyAppliance - Onboarding</title>
</head>
<body>
  {% if message_exit %}
    <p><b></b>{{message_exit}}</b></p>
  {% endif %}
<h1>Welcome to <b>MyAppliances!</b></h1><br>
<i>A one-stop shop for all the assets in your house.</i><br><br><hr>

<ul>
  <li>When is your air conditioner due for service?</li>
  <li>How much have you spent on appliance repairs this year?</li>
  <li>Who should you call when a gadget breaks down?</li>
  <li>Is your refrigerator still under warranty?</li>
</ul><br>

<p>No more digging through old files, searching messages, or flipping through scribbled notes to find these answers.</p>

<p>MyAppliances helps you neatly organize and manage the service, repair, and warranty details of every device, gadget, automobile, and of course, appliance in your home.</p>

<p>Just share your device details once, and let <b>MyAppliances</b> handle the rest!</p>
<h3>Existing users</h3>
<p><a href="{{ url_for('login')}}">Login</a></p>
<h3>New users</h3>
<p><a href="{{ url_for('onboarding') }}">Create an account</a></p>
</body>
</html>