<!DOCTYPE html>
<html>
<head>
  <title>
  Navigation page
  </title>
</head>
  <body>
  <h3>~~~ MAIN MENU~~~</h3>
    <form method="POST" action="/navigation">
    <ul>
      <li>1. Device breakdown</li>
      <li>2. View service details</li>
      <li>3. View warranty status</li>
      <li>4. View my devices</li>
      <li>5. Change device information: Add/delete/edit a device.</li>
    </ul>
    <input type="number" name="navigation_option" required>
    <input type="submit" value="SUBMIT">
    </form>
  </body>
</html>